:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
  
  .card-signin {
    position: relative;
    transform: translate(-50%, -35%);
    top: 50%;
    left: 50%;
    border: 0;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.3);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body-login {
    background: #e6e6e6;
    padding: 2rem;
  }